TRABAJOS/G_04_0840_Wong_Guerrero/xml-leer-escribir/src/main/resources/clientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Aug 28 2016 19:33:31 GMT-0500 (Hora de verano central (México)) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="clientes">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="cliente" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="nombre" type="xs:string"></xs:element>
                                             <xs:element name="apaterno" type="xs:string"></xs:element>
                                             <xs:element name="amaterno" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>